h1 {
    text-align: center;
}

.instructions {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

#player-1 {
    margin-right: 30px;
}

#new-game {
    display: block;
    margin: 20px auto;
}

#gameboard {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    width: 300px;
    margin: auto;
}

.cell {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#message {
    text-align: center;
    margin-top: 20px;
}